graphdb/build/
graphdb/data/home/
graphdb/data/kgs/
results
coverage
fuseki/fuseki-base/configuration/assembler.ttl
fuseki/fuseki-base/databases
fuseki/data
build
res*.csv
res*.tsv
res*.txt
proc-*.json
misc/*
dist/
